*{
    font-family: "Poppins",sans-serif;
}
.container{
    height: 70vh;
}
.form-control:focus{
    box-shadow: none !important;
}
.copy-img{
    position: relative;
    bottom: 2.4rem;
    left: 22.5rem;
    height: 1.5rem;
}
#msg{
    display: none;
}
#password{
    border-color: navy ; /*it has higher specificity than class */
}
/* input.form-control{
    border-color: navy ; 
} */